In [ ]:
### IBM_db is very faulty. If when connecting with the uri, recieiving a programming error, either need to uninstall and install sqlalchemy and/or ibm_db_sa, or need to delete the DB2 connection entirely on the console. This will require, however, needing to re-import any desired tables.

In [1]:
%load_ext sql

In [4]:
!pip install sqlalchemy
!pip install ibm_db_sa

Collecting sqlalchemy
  Using cached SQLAlchemy-1.4.7-cp39-cp39-win_amd64.whl (1.5 MB)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sfrie\appdata\local\programs\python\python39\lib\site-packages (from sqlalchemy) (1.0.0)
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.4.7
WARNING: You are using pip version 21.0; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\users\sfrie\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.
Requirement already satisfied: ibm_db_sa in c:\users\sfrie\appdata\local\programs\python\python39\lib\site-packages (0.3.6)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\sfrie\appdata\local\programs\python\python39\lib\site-packages (from ibm_db_sa) (1.4.7)
Requirement already satisfied: ibm_db>=2.0.0 in c:\users\sfrie\appdata\local\programs\python\python39\lib\site-packages (from ibm_db_sa) (3.0.4)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sfrie\appdata\local\programs\python\python39\lib\site-packages (from sqlalchemy>=0.7.3->ibm_db_sa) (1.0.0)
WARNING: You are using pip version 21.0; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\users\sfrie\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip' command.

In [5]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://dtz48384:df07bxbt5d4-91g9@dashdb-txn-sbox-yp-dal09-10.services.dal.bluemix.net:50000/BLUDB

(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: [IBM][CLI Driver] SQL1042C  An unexpected system error occurred.  SQLSTATE=58004\r SQLCODE=-1042
(Background on this error at: http://sqlalche.me/e/14/f405)
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [6]:
%sql SELECT COUNT(*) FROM crime

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [ ]:
%sql SELECT COMMUNITY_AREA_NAME, PER_CAPITA_INCOME FROM census WHERE PER_CAPITA_INCOME < 11000

In [ ]:
### Problem 3

##### List all case numbers for crimes  involving minors?


%%sql SELECT CASE_NUMBER, DESCRIPTION FROM crime WHERE DESCRIPTION LIKE '%MINOR%'

In [ ]:
### Problem 5

##### What kinds of crimes were recorded at schools?

%%sql
SELECT DISTINCT(PRIMARY_TYPE) as primary_type, LOCATION_DESCRIPTION 
FROM crime 
WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%'

In [ ]:
##### List the average safety score for all types of schools.

%%sql
SELECT "Elementary, Middle, or High School",
AVG(SAFETY_SCORE)
FROM SCHOOLS
GROUP BY "Elementary, Middle, or High School"

In [ ]:
### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

%%sql
SELECT census.community_area_name, crime_count
FROM census, (SELECT community_area_number, count(community_area_number) as crime_count
                FROM crime
                GROUP BY community_area_number
                ORDER BY count(community_area_number) DESC LIMIT 1) most_crime_table -- this names the 
WHERE census.community_area_number = most_crime_table.community_area_number--table just created